# 1. Exploration des fichiers csv

In [9]:
import pandas as pd
import pickle
import os
import numpy as np

# 1. Chargement des m√©tadonn√©es
metadata = pd.read_csv("P10/articles_metadata.csv")
print("üì∞ Articles metadata")
print(metadata.head())
print(metadata.info())
print(metadata.isnull().sum())

# 2. Chargement des interactions (√©chantillon)
clicks_sample = pd.read_csv("P10/clicks_sample.csv")
print("\nüëÜ Clicks sample")
print(clicks_sample.head())
print(clicks_sample.info())
print(f"{clicks_sample['user_id'].nunique()} utilisateurs uniques")
print(f"{clicks_sample['click_article_id'].nunique()} articles diff√©rents")

# 3. Chargement des embeddings
with open("P10/articles_embeddings.pickle", "rb") as f:
    embeddings = pickle.load(f)  # shape = (364047, 250)

# Cr√©ation d‚Äôun DataFrame avec les m√™mes index que metadata
article_embeddings_df = pd.DataFrame(
    embeddings,
    index=metadata['article_id'],
    columns=[f'embedding_{i}' for i in range(embeddings.shape[1])]
)

print("\nüî¢ Embeddings (vecteurs d'articles)")
print(article_embeddings_df.head())
print("Index des embeddings (DataFrame):", list(article_embeddings_df.index[:5]))
print("IDs articles metadata :", list(metadata['article_id'].head()))

# 4. V√©rification des correspondances avec les articles cliqu√©s
article_ids_embeddings = set(article_embeddings_df.index)
clicked_articles = set(clicks_sample['click_article_id'])

articles_absents = clicked_articles - article_ids_embeddings
print(f"\n‚ö†Ô∏è Articles cliqu√©s sans vecteur d'embedding : {len(articles_absents)}")
if articles_absents:
    print("Exemples :", list(articles_absents)[:5])

üì∞ Articles metadata
   article_id  category_id  created_at_ts  publisher_id  words_count
0           0            0  1513144419000             0          168
1           1            1  1405341936000             0          189
2           2            1  1408667706000             0          250
3           3            1  1408468313000             0          230
4           4            1  1407071171000             0          162
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364047 entries, 0 to 364046
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   article_id     364047 non-null  int64
 1   category_id    364047 non-null  int64
 2   created_at_ts  364047 non-null  int64
 3   publisher_id   364047 non-null  int64
 4   words_count    364047 non-null  int64
dtypes: int64(5)
memory usage: 13.9 MB
None
article_id       0
category_id      0
created_at_ts    0
publisher_id     0
words_count      0
dtype: int64

üëÜ Clicks sample
   user_id        session_id  session_start  session_size  click_article_id  \
0        0  1506825423271737  1506825423000             2            157541
1        0  1506825423271737  1506825423000             2             68866
2        1  1506825426267738  1506825426000             2            235840
3        1  1506825426267738  1506825426000             2             96663
4        2  1506825435299739  1506825435000             2            119592

   click_timestamp  click_environment  click_deviceGroup  click_os  \
0    1506826828020                  4                  3        20
1    1506826858020                  4                  3        20
2    1506827017951                  4                  1        17
3    1506827047951                  4                  1        17
4    1506827090575                  4                  1        17

   click_country  click_region  click_referrer_type
0              1            20                    2
1              1            20                    2
2              1            16                    2
3              1            16                    2
4              1            24                    2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1883 entries, 0 to 1882
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              1883 non-null   int64
 1   session_id           1883 non-null   int64
 2   session_start        1883 non-null   int64
 3   session_size         1883 non-null   int64
 4   click_article_id     1883 non-null   int64
 5   click_timestamp      1883 non-null   int64
 6   click_environment    1883 non-null   int64
 7   click_deviceGroup    1883 non-null   int64
 8   click_os             1883 non-null   int64
 9   click_country        1883 non-null   int64
 10  click_region         1883 non-null   int64
 11  click_referrer_type  1883 non-null   int64
dtypes: int64(12)
memory usage: 176.7 KB
None
707 utilisateurs uniques
323 articles diff√©rents

üî¢ Embeddings (vecteurs d'articles)
            embedding_0  embedding_1  embedding_2  embedding_3  embedding_4  \
article_id
0             -0.161183    -0.957233    -0.137944     0.050855     0.830055
1             -0.523216    -0.974058     0.738608     0.155234     0.626294
2             -0.619619    -0.972960    -0.207360    -0.128861     0.044748
3             -0.740843    -0.975749     0.391698     0.641738    -0.268645
4             -0.279052    -0.972315     0.685374     0.113056     0.238315

            embedding_5  embedding_6  embedding_7  embedding_8  embedding_9  \
article_id
0              0.901365    -0.335148    -0.559561    -0.500603     0.165183
1              0.485297    -0.715657    -0.897996    -0.359747     0.398246
2             -0.387535    -0.730477    -0.066126    -0.754899    -0.242004
3              0.191745    -0.825593    -0.710591    -0.040099    -0.110514
4              0.271913    -0.568816     0.341194    -0.600554    -0.125644

            ...  embedding_240  embedding_241  embedding_242  embedding_243  \
article_id  ...
0           ...       0.321248       0.313999       0.636412       0.169179
1           ...      -0.487843       0.823124       0.412688      -0.338654
2           ...       0.454756       0.473184       0.377866      -0.863887
3           ...       0.271535       0.036040       0.480029      -0.763173
4           ...       0.238286       0.809268       0.427521      -0.615932

            embedding_244  embedding_245  embedding_246  embedding_247  \
article_id
0                0.540524      -0.813182       0.286870      -0.231686
1                0.320787       0.588643      -0.594137       0.182828
2               -0.383365       0.137721      -0.810877      -0.447580
3                0.022627       0.565165      -0.910286      -0.537838
4               -0.503697       0.614450      -0.917760      -0.424061

            embedding_248  embedding_249
article_id
0                0.597416       0.409623
1                0.397090      -0.834364
2                0.805932      -0.285284
3                0.243541      -0.885329
4                0.185484      -0.580292

[5 rows x 250 columns]
Index des embeddings (DataFrame): [0, 1, 2, 3, 4]
IDs articles metadata : [0, 1, 2, 3, 4]

‚ö†Ô∏è Articles cliqu√©s sans vecteur d'embedding : 0

- 364‚ÄØ047 articles complets
- 250 dimensions, aucun article manquant
- 707 utilisateurs, 323 articles, interactions propres
- Correspondance parfaite (aucun manquant) articles cliqu√©s ‚Üî embeddings

# 2. Exploration des fichiers clicks_hours

In [10]:
# Lister les fichiers

clicks_dir = "P10/clicks"
clicks_files = sorted([os.path.join(clicks_dir, f) for f in os.listdir(clicks_dir) if f.endswith(".csv")])

print(f"üóÇÔ∏è {len(clicks_files)} fichiers trouv√©s")
print("Exemples :", clicks_files[:5])

üóÇÔ∏è 385 fichiers trouv√©s
Exemples : ['P10/clicks/clicks_hour_000.csv', 'P10/clicks/clicks_hour_001.csv', 'P10/clicks/clicks_hour_002.csv', 'P10/clicks/clicks_hour_003.csv', 'P10/clicks/clicks_hour_004.csv']

In [11]:
# Charger les 3 premiers fichiers

sample_dfs = [pd.read_csv(f) for f in clicks_files[:3]]
clicks_large_sample = pd.concat(sample_dfs, ignore_index=True)

print("üìä Aper√ßu d'un √©chantillon √©largi")
print(clicks_large_sample.head())
print(clicks_large_sample.info())
print(clicks_large_sample['user_id'].nunique(), "utilisateurs uniques")
print(clicks_large_sample['click_article_id'].nunique(), "articles diff√©rents")

üìä Aper√ßu d'un √©chantillon √©largi
   user_id        session_id  session_start  session_size  click_article_id  \
0        0  1506825423271737  1506825423000             2            157541
1        0  1506825423271737  1506825423000             2             68866
2        1  1506825426267738  1506825426000             2            235840
3        1  1506825426267738  1506825426000             2             96663
4        2  1506825435299739  1506825435000             2            119592

   click_timestamp  click_environment  click_deviceGroup  click_os  \
0    1506826828020                  4                  3        20
1    1506826858020                  4                  3        20
2    1506827017951                  4                  1        17
3    1506827047951                  4                  1        17
4    1506827090575                  4                  1        17

   click_country  click_region  click_referrer_type
0              1            20                    2
1              1            20                    2
2              1            16                    2
3              1            16                    2
4              1            24                    2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4208 entries, 0 to 4207
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              4208 non-null   int64
 1   session_id           4208 non-null   int64
 2   session_start        4208 non-null   int64
 3   session_size         4208 non-null   int64
 4   click_article_id     4208 non-null   int64
 5   click_timestamp      4208 non-null   int64
 6   click_environment    4208 non-null   int64
 7   click_deviceGroup    4208 non-null   int64
 8   click_os             4208 non-null   int64
 9   click_country        4208 non-null   int64
 10  click_region         4208 non-null   int64
 11  click_referrer_type  4208 non-null   int64
dtypes: int64(12)
memory usage: 394.6 KB
None
1572 utilisateurs uniques
551 articles diff√©rents

In [14]:
# V√©rification de la structure

expected_cols = set(clicks_sample.columns)
for i, df in enumerate(sample_dfs):
    if set(df.columns) != expected_cols:
        print(f"‚ö†Ô∏è Structure diff√©rente dans {clicks_files[i]}")

In [13]:
# Fusion compl√®te 

all_clicks_df = pd.concat([pd.read_csv(f) for f in clicks_files], ignore_index=True)
print("‚úÖ Fichiers fusionn√©s :", all_clicks_df.shape)

‚úÖ Fichiers fusionn√©s : (2988181, 12)

- Fichiers analys√©s	--> ~300 fichiers
- Donn√©es fusionn√©es --> 2‚ÄØ988‚ÄØ181 lignes, 12 colonnes
- Utilisateurs uniques --> ‚âà 1,5 million
- Articles cliqu√©s	--> plusieurs milliers (‚â• 500)
- Structure	Identique √† clicks_sample.csv

# 3. Test

In [17]:
import sys
sys.path.append("P10")
from recommend_articles import Recommender

# Cr√©ation de l'objet recommender
reco = Recommender(clicks_sample, article_embeddings_df)

# Exemple pour un utilisateur connu
user_id = clicks_sample['user_id'].iloc[0]
recommended_articles = reco.recommend(user_id)

print(f"Top 5 recommandations pour l‚Äôutilisateur {user_id} : {recommended_articles}")

Top 5 recommandations pour l‚Äôutilisateur 0 : [157519, 162856, 159495, 157944, 156690]

In [20]:
import pandas as pd
from IPython.display import display

# üîÅ √âtape 1 : G√©n√©rer les recommandations pour un √©chantillon d'utilisateurs
test_users = clicks_sample['user_id'].unique()[:20]  # Ajustable

recommendation_results = []

for uid in test_users:
    articles = reco.recommend(uid)
    for rank, article_id in enumerate(articles):
        recommendation_results.append({
            'user_id': uid,
            'rank': rank + 1,
            'recommended_article_id': article_id
        })

# üìÑ √âtape 2 : Cr√©ation du DataFrame
recommendations_df = pd.DataFrame(recommendation_results)

# üîó √âtape 3 : Enrichissement avec les m√©tadonn√©es
reco_with_meta = recommendations_df.merge(
    metadata,
    left_on='recommended_article_id',
    right_on='article_id',
    how='left'
)

# üïì √âtape 4 : Conversion du timestamp en date lisible
reco_with_meta['created_at'] = pd.to_datetime(reco_with_meta['created_at_ts'], unit='ms')

# üéØ √âtape 5 : S√©lection des colonnes √† afficher
final_cols = [
    'user_id',
    'rank',
    'recommended_article_id',
    'category_id',
    'words_count',
    'created_at'
]

# üìä √âtape 6 : Affichage propre, tri√© par utilisateur et rang
display(
    reco_with_meta[final_cols]
    .sort_values(by=["user_id", "rank"])
    .reset_index(drop=True)
    .head(20)  # Affiche les 20 premi√®res recommandations
)

,user_id,rank,recommended_article_id,category_id,words_count,created_at
0,0,1,157519,281,272,2017-09-22 07:22:32
1,0,2,162856,281,237,2017-11-18 10:24:44
2,0,3,159495,281,261,2017-09-21 19:19:21
3,0,4,157944,281,204,2017-12-05 20:11:07
4,0,5,156690,281,170,2017-06-07 18:19:39
5,1,1,95797,209,195,2017-05-24 20:00:01
6,1,2,90583,199,158,2017-12-27 19:16:51
7,1,3,246739,386,128,2017-12-25 14:30:20
8,1,4,231234,375,139,2015-11-10 15:17:30
9,1,5,90167,199,157,2018-02-27 13:12:50
10,2,1,25856,26,159,2014-02-13 07:25:13
11,2,2,30693,26,266,2017-10-19 12:58:08
12,2,3,30847,26,237,2017-11-02 12:27:41
13,2,4,115968,247,195,2014-12-06 11:53:02
14,2,5,23608,10,200,2018-01-31 09:33:54
15,3,1,234565,375,191,2017-09-23 12:31:28
16,3,2,231799,375,176,2016-02-12 04:31:56
17,3,3,236638,375,174,2017-10-31 06:48:48
18,3,4,230797,375,175,2015-08-08 17:30:18
19,3,5,232455,375,167,2016-06-30 22:00:32